html {
  background: #e3e3e3;
}

.backfaceVisibility {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.button {
    text-align: center;
}

.button p {
    margin: 0;
    font-family: 'Avenir';
    font-size: 12px;
    font-weight: 600;
    color: #3be;
}
