html {
  /*background: #e3e3e3;*/
}

body {
    font-family: 'Avenir'
}

.backfaceVisibility {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.button {
    text-align: center;
    cursor: pointer;
}

.button p {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    color: #3be;
}

.tweet {
    padding: 20px;
}
